<div class="container">
  <div class="form-group ">
      <div class="row flex-v-center">
           <div class="col d-flex justify-content-center"><label for="lbl_year">Year</label></div>
           <div class="col"><label for="lbl_upload"><h6>Upload...</h6></label></div>
      </div>
     <div class="row">
      <div class="col-2 d-flex justify-content-center">
          <div class="align-self-center">Year</div>
      </div>
      <div class="col-3 d-flex justify-content-"> <select class="form-control" style="width:auto;">
          <option class="bs-title-option"  value="myVal">--Please Select--</option>
          <option> 2020-2021</option>
       </select></div>
          <div class="col-4 d-flex justify-content-center">                    
              <input type="file" class="form-control " width="160">
          </div>

     </div>
 </div>
      <br><br>
  <div class="form-group">
       <div class="row flex-v-center">
             <div class="col d-flex justify-content-center"><label for="lbl_Standard">Standard</label></div>
            <div class="col"><label for="lbl_Division">Division</label></div>
       </div>

       <div class="row">
          <div class="col-2"></div>
           <div class="col-3 d-flex justify-content-center"> <select class="form-control" >
              <option class="bs-title-option"  value="myVal">--Please Select--</option>
              <option>First</option>
              <option>Second</option>
              <option>Third</option>
              <option>Fourth</option>
              <option>Fiveth</option>
              <option>Sixth</option>
              <option>Seventh</option>
              <option>Eightth</option>
              <option>Nineth</option>
              <option>Tenth</option>
           </select></div>
           <div class="col-1"></div>
          <div class="col-3"> <select class="form-control" >
              <option class="bs-title-option"  value="myVal">--Please Select--</option>
              <option>A</option>
              <option>B</option>
              <option>C</option>
              <option>D</option>
           </select></div>
     </div>
  </div>
       <br>    

       <table class="table table-bordered table-responsive w-auto ">
          <thead class="thead-dark">
              <tr>
                  <th scope="col d-flex justify-content-center ">Timing</th>
                  <th scope="col">Monday</th>
                  <th scope="col">Tuesday</th>
                  <th scope="col">Wednesday</th>
                  <th scope="col">Thursday</th>
                  <th scope="col">Friday</th>
                </tr>
          </thead>
          <tbody>
              <tr>
                  <th style="width: 35%;">
                      <div class="row">
                        <div class="col"> <input type="time"  class="form-control input-sm" style="width: 90%;"></div>
                        <div class="col"><input type="time"  class="form-control input-sm" style="width: 90%;"></div>
                      </div>
                  </th>
                  <td><div class="col"> <select class="form-control" >
                      <option class="bs-title-option"  value="myVal">--Please Select--</option>
                      <option>Marathi</option>
                      <option>Hindi</option>
                      <option>Englsih</option>
                      <option>Math</option>
                      <option>Free</option>
                   </select></div>
                  </td>
                  <td>
                      <div class="col"> <select class="form-control" >
                          <option class="bs-title-option"  value="myVal">--Please Select--</option>
                          <option>Marathi</option>
                          <option>Hindi</option>
                          <option>Englsih</option>
                          <option>Math</option>
                          <option>Free</option>
                       </select></div>
                  </td>
                  <td>
                      <div class="col"> <select class="form-control" >
                          <option class="bs-title-option"  value="myVal">--Please Select--</option>
                          <option>Marathi</option>
                          <option>Hindi</option>
                          <option>Englsih</option>
                          <option>Math</option>
                          <option>Free</option>
                       </select></div>
                  </td>
                  <td><div class="col"> <select class="form-control" >
                      <option class="bs-title-option"  value="myVal">--Please Select--</option>
                      <option>Marathi</option>
                      <option>Hindi</option>
                      <option>Englsih</option>
                      <option>Math</option>
                      <option>Free</option>
                   </select></div>
                  </td>
                  <td>
                      <div class="col"> <select class="form-control" >
                          <option class="bs-title-option"  value="myVal">--Please Select--</option>
                          <option>Marathi</option>
                          <option>Hindi</option>
                          <option>Englsih</option>
                          <option>Math</option>
                          <option>Free</option>
                       </select></div>
                  </td>
                </tr>
           <tr>
              <th style="width: 30%;">
                  <div class="row">
                    <div class="col"> <input type="time"  class="form-control input-sm" style="width: 90%;"></div>
                    <div class="col"><input type="time"  class="form-control input-sm" style="width: 90%;"></div>
                  </div>
              </th>
              <td><div class="col"> <select class="form-control" >
                  <option class="bs-title-option"  value="myVal">--Please Select--</option>
                  <option>Marathi</option>
                  <option>Hindi</option>
                  <option>Englsih</option>
                  <option>Math</option>
                  <option>Free</option>
               </select></div>
              </td>
              <td>
                  <div class="col"> <select class="form-control" >
                      <option class="bs-title-option"  value="myVal">--Please Select--</option>
                      <option>Marathi</option>
                      <option>Hindi</option>
                      <option>Englsih</option>
                      <option>Math</option>
                      <option>Free</option>
                   </select></div>
              </td>
              <td>
                  <div class="col"> <select class="form-control" >
                      <option class="bs-title-option"  value="myVal">--Please Select--</option>
                      <option>Marathi</option>
                      <option>Hindi</option>
                      <option>Englsih</option>
                      <option>Math</option>
                      <option>Free</option>
                   </select></div>
              </td>
              <td><div class="col"> <select class="form-control" >
                  <option class="bs-title-option"  value="myVal">--Please Select--</option>
                  <option>Marathi</option>
                  <option>Hindi</option>
                  <option>Englsih</option>
                  <option>Math</option>
                  <option>Free</option>
               </select></div>
              </td>
              <td>
                  <div class="col"> <select class="form-control" >
                      <option class="bs-title-option"  value="myVal">--Please Select--</option>
                      <option>Marathi</option>
                      <option>Hindi</option>
                      <option>Englsih</option>
                      <option>Math</option>
                      <option>Free</option>
                   </select></div>
              </td>
            </tr>
            <tr>
            <th style="width: 30%;">
              <div class="row">
                <div class="col"> <input type="time"  class="form-control input-sm" style="width: 90%;"></div>
                <div class="col"><input type="time"  class="form-control input-sm" style="width: 90%;"></div>
              </div>
          </th>
              <td><div class="col"> <select class="form-control" >
                  <option class="bs-title-option"  value="myVal">--Please Select--</option>
                  <option>Marathi</option>
                  <option>Hindi</option>
                  <option>Englsih</option>
                  <option>Math</option>
                  <option>Free</option>
               </select></div>
              </td>
              <td>
                  <div class="col"> <select class="form-control" >
                      <option class="bs-title-option"  value="myVal">--Please Select--</option>
                      <option>Marathi</option>
                      <option>Hindi</option>
                      <option>Englsih</option>
                      <option>Math</option>
                      <option>Free</option>
                   </select></div>
              </td>
              <td>
                  <div class="col"> <select class="form-control" >
                      <option class="bs-title-option"  value="myVal">--Please Select--</option>
                      <option>Marathi</option>
                      <option>Hindi</option>
                      <option>Englsih</option>
                      <option>Math</option>
                      <option>Free</option>
                   </select></div>
              </td>
              <td><div class="col"> <select class="form-control" >
                  <option class="bs-title-option"  value="myVal">--Please Select--</option>
                  <option>Marathi</option>
                  <option>Hindi</option>
                  <option>Englsih</option>
                  <option>Math</option>
                  <option>Free</option>
               </select></div>
              </td>
              <td>
                  <div class="col"> <select class="form-control" >
                      <option class="bs-title-option"  value="myVal">--Please Select--</option>
                      <option>Marathi</option>
                      <option>Hindi</option>
                      <option>Englsih</option>
                      <option>Math</option>
                      <option>Free</option>
                   </select></div>
              </td>
            </tr>
            <tr>
            <th style="width: 30%;">
              <div class="row">
                <div class="col"> <input type="time"  class="form-control input-sm" style="width: 90%;"></div>
                <div class="col"><input type="time"  class="form-control input-sm" style="width: 90%;"></div>
              </div>
          </th>
              <td><div class="col"> <select class="form-control" >
                  <option class="bs-title-option"  value="myVal">--Please Select--</option>
                  <option>Marathi</option>
                  <option>Hindi</option>
                  <option>Englsih</option>
                  <option>Math</option>
                  <option>Free</option>
               </select></div>
              </td>
              <td>
                  <div class="col"> <select class="form-control" >
                      <option class="bs-title-option"  value="myVal">--Please Select--</option>
                      <option>Marathi</option>
                      <option>Hindi</option>
                      <option>Englsih</option>
                      <option>Math</option>
                      <option>Free</option>
                   </select></div>
              </td>
              <td>
                  <div class="col"> <select class="form-control" >
                      <option class="bs-title-option"  value="myVal">--Please Select--</option>
                      <option>Marathi</option>
                      <option>Hindi</option>
                      <option>Englsih</option>
                      <option>Math</option>
                      <option>Free</option>
                   </select></div>
              </td>
              <td><div class="col"> <select class="form-control" >
                  <option class="bs-title-option"  value="myVal">--Please Select--</option>
                  <option>Marathi</option>
                  <option>Hindi</option>
                  <option>Englsih</option>
                  <option>Math</option>
                  <option>Free</option>
               </select></div>
              </td>
              <td>
                  <div class="col"> <select class="form-control" >
                      <option class="bs-title-option"  value="myVal">--Please Select--</option>
                      <option>Marathi</option>
                      <option>Hindi</option>
                      <option>Englsih</option>
                      <option>Math</option>
                      <option>Free</option>
                   </select></div>
              </td>
            </tr>
            <tr>
            <th style="width: 30%;">
              <div class="row">
                <div class="col"> <input type="time"  class="form-control input-sm" style="width: 90%;"></div>
                <div class="col"><input type="time"  class="form-control input-sm" style="width: 90%;"></div>
              </div>
          </th>
              <td><div class="col"> <select class="form-control" >
                  <option class="bs-title-option"  value="myVal">--Please Select--</option>
                  <option>Marathi</option>
                  <option>Hindi</option>
                  <option>Englsih</option>
                  <option>Math</option>
                  <option>Free</option>
               </select></div>
              </td>
              <td>
                  <div class="col"> <select class="form-control" >
                      <option class="bs-title-option"  value="myVal">--Please Select--</option>
                      <option>Marathi</option>
                      <option>Hindi</option>
                      <option>Englsih</option>
                      <option>Math</option>
                      <option>Free</option>
                   </select></div>
              </td>
              <td>
                  <div class="col"> <select class="form-control" >
                      <option class="bs-title-option"  value="myVal">--Please Select--</option>
                      <option>Marathi</option>
                      <option>Hindi</option>
                      <option>Englsih</option>
                      <option>Math</option>
                      <option>Free</option>
                   </select></div>
              </td>
              <td><div class="col"> <select class="form-control" >
                  <option class="bs-title-option"  value="myVal">--Please Select--</option>
                  <option>Marathi</option>
                  <option>Hindi</option>
                  <option>Englsih</option>
                  <option>Math</option>
                  <option>Free</option>
               </select></div>
              </td>
              <td>
                  <div class="col"> <select class="form-control" >
                      <option class="bs-title-option"  value="myVal">--Please Select--</option>
                      <option>Marathi</option>
                      <option>Hindi</option>
                      <option>Englsih</option>
                      <option>Math</option>
                      <option>Free</option>
                   </select></div>
              </td>
            </tr>
            <tr>
            <th style="width: 30%;">
              <div class="row">
                <div class="col"> <input type="time"  class="form-control input-sm" style="width: 90%;"></div>
                <div class="col"><input type="time"  class="form-control input-sm" style="width: 90%;"></div>
              </div>
          </th>
              <td><div class="col"> <select class="form-control" >
                  <option class="bs-title-option"  value="myVal">--Please Select--</option>
                  <option>Marathi</option>
                  <option>Hindi</option>
                  <option>Englsih</option>
                  <option>Math</option>
                  <option>Free</option>
               </select></div>
              </td>
              <td>
                  <div class="col"> <select class="form-control" >
                      <option class="bs-title-option"  value="myVal">--Please Select--</option>
                      <option>Marathi</option>
                      <option>Hindi</option>
                      <option>Englsih</option>
                      <option>Math</option>
                      <option>Free</option>
                   </select></div>
              </td>
              <td>
                  <div class="col"> <select class="form-control" >
                      <option class="bs-title-option"  value="myVal">--Please Select--</option>
                      <option>Marathi</option>
                      <option>Hindi</option>
                      <option>Englsih</option>
                      <option>Math</option>
                      <option>Free</option>
                   </select></div>
              </td>
              <td><div class="col"> <select class="form-control" >
                  <option class="bs-title-option"  value="myVal">--Please Select--</option>
                  <option>Marathi</option>
                  <option>Hindi</option>
                  <option>Englsih</option>
                  <option>Math</option>
                  <option>Free</option>
               </select></div>
              </td>
              <td>
                  <div class="col"> <select class="form-control" >
                      <option class="bs-title-option"  value="myVal">--Please Select--</option>
                      <option>Marathi</option>
                      <option>Hindi</option>
                      <option>Englsih</option>
                      <option>Math</option>
                      <option>Free</option>
                   </select></div>
              </td>
            </tr>
            <tr>
            <th style="width: 30%;">
              <div class="row">
                <div class="col"> <input type="time"  class="form-control input-sm" style="width: 90%;"></div>
                <div class="col"><input type="time"  class="form-control input-sm" style="width: 90%;"></div>
              </div>
          </th>
              <td><div class="col"> <select class="form-control" >
                  <option class="bs-title-option"  value="myVal">--Please Select--</option>
                  <option>Marathi</option>
                  <option>Hindi</option>
                  <option>Englsih</option>
                  <option>Math</option>
                  <option>Free</option>
               </select></div>
              </td>
              <td>
                  <div class="col"> <select class="form-control" >
                      <option class="bs-title-option"  value="myVal">--Please Select--</option>
                      <option>Marathi</option>
                      <option>Hindi</option>
                      <option>Englsih</option>
                      <option>Math</option>
                      <option>Free</option>
                   </select></div>
              </td>
              <td>
                  <div class="col"> <select class="form-control" >
                      <option class="bs-title-option"  value="myVal">--Please Select--</option>
                      <option>Marathi</option>
                      <option>Hindi</option>
                      <option>Englsih</option>
                      <option>Math</option>
                      <option>Free</option>
                   </select></div>
              </td>
              <td><div class="col"> <select class="form-control" >
                  <option class="bs-title-option"  value="myVal">--Please Select--</option>
                  <option>Marathi</option>
                  <option>Hindi</option>
                  <option>Englsih</option>
                  <option>Math</option>
                  <option>Free</option>
               </select></div>
              </td>
              <td>
                  <div class="col"> <select class="form-control" >
                      <option class="bs-title-option"  value="myVal">--Please Select--</option>
                      <option>Marathi</option>
                      <option>Hindi</option>
                      <option>Englsih</option>
                      <option>Math</option>
                      <option>Free</option>
                   </select></div>
              </td>
            </tr>
            <tr>
            <th style="width: 30%;">
              <div class="row">
                <div class="col"> <input type="time"  class="form-control input-sm" style="width: 90%;"></div>
                <div class="col"><input type="time"  class="form-control input-sm" style="width: 90%;"></div>
              </div>
          </th>
              <td><div class="col"> <select class="form-control" >
                  <option class="bs-title-option"  value="myVal">--Please Select--</option>
                  <option>Marathi</option>
                  <option>Hindi</option>
                  <option>Englsih</option>
                  <option>Math</option>
                  <option>Free</option>
               </select></div>
              </td>
              <td>
                  <div class="col"> <select class="form-control" >
                      <option class="bs-title-option"  value="myVal">--Please Select--</option>
                      <option>Marathi</option>
                      <option>Hindi</option>
                      <option>Englsih</option>
                      <option>Math</option>
                      <option>Free</option>
                   </select></div>
              </td>
              <td>
                  <div class="col"> <select class="form-control" >
                      <option class="bs-title-option"  value="myVal">--Please Select--</option>
                      <option>Marathi</option>
                      <option>Hindi</option>
                      <option>Englsih</option>
                      <option>Math</option>
                      <option>Free</option>
                   </select></div>
              </td>
              <td><div class="col"> <select class="form-control" >
                  <option class="bs-title-option"  value="myVal">--Please Select--</option>
                  <option>Marathi</option>
                  <option>Hindi</option>
                  <option>Englsih</option>
                  <option>Math</option>
                  <option>Free</option>
               </select></div>
              </td>
              <td>
                  <div class="col"> <select class="form-control" >
                      <option class="bs-title-option"  value="myVal">--Please Select--</option>
                      <option>Marathi</option>
                      <option>Hindi</option>
                      <option>Englsih</option>
                      <option>Math</option>
                      <option>Free</option>
                   </select></div>
              </td>
            </tr>
            <tr>
            <th style="width: 30%;">
              <div class="row">
                <div class="col"> <input type="time"  class="form-control input-sm" style="width: 90%;"></div>
                <div class="col"><input type="time"  class="form-control input-sm" style="width: 90%;"></div>
              </div>
          </th>
              <td><div class="col"> <select class="form-control" >
                  <option class="bs-title-option"  value="myVal">--Please Select--</option>
                  <option>Marathi</option>
                  <option>Hindi</option>
                  <option>Englsih</option>
                  <option>Math</option>
                  <option>Free</option>
               </select></div>
              </td>
              <td>
                  <div class="col"> <select class="form-control" >
                      <option class="bs-title-option"  value="myVal">--Please Select--</option>
                      <option>Marathi</option>
                      <option>Hindi</option>
                      <option>Englsih</option>
                      <option>Math</option>
                      <option>Free</option>
                   </select></div>
              </td>
              <td>
                  <div class="col"> <select class="form-control" >
                      <option class="bs-title-option"  value="myVal">--Please Select--</option>
                      <option>Marathi</option>
                      <option>Hindi</option>
                      <option>Englsih</option>
                      <option>Math</option>
                      <option>Free</option>
                   </select></div>
              </td>
              <td><div class="col"> <select class="form-control" >
                  <option class="bs-title-option"  value="myVal">--Please Select--</option>
                  <option>Marathi</option>
                  <option>Hindi</option>
                  <option>Englsih</option>
                  <option>Math</option>
                  <option>Free</option>
               </select></div>
              </td>
              <td>
                  <div class="col"> <select class="form-control" >
                      <option class="bs-title-option"  value="myVal">--Please Select--</option>
                      <option>Marathi</option>
                      <option>Hindi</option>
                      <option>Englsih</option>
                      <option>Math</option>
                      <option>Free</option>
                   </select></div>
              </td>
            </tr>
            <tr>
            <th style="width: 30%;">
              <div class="row">
                <div class="col"> <input type="time"  class="form-control input-sm" style="width: 90%;"></div>
                <div class="col"><input type="time"  class="form-control input-sm" style="width: 90%;"></div>
              </div>
          </th>
              <td><div class="col"> <select class="form-control" >
                  <option class="bs-title-option"  value="myVal">--Please Select--</option>
                  <option>Marathi</option>
                  <option>Hindi</option>
                  <option>Englsih</option>
                  <option>Math</option>
                  <option>Free</option>
               </select></div>
              </td>
              <td>
                  <div class="col"> <select class="form-control" >
                      <option class="bs-title-option"  value="myVal">--Please Select--</option>
                      <option>Marathi</option>
                      <option>Hindi</option>
                      <option>Englsih</option>
                      <option>Math</option>
                      <option>Free</option>
                   </select></div>
              </td>
              <td>
                  <div class="col"> <select class="form-control" >
                      <option class="bs-title-option"  value="myVal">--Please Select--</option>
                      <option>Marathi</option>
                      <option>Hindi</option>
                      <option>Englsih</option>
                      <option>Math</option>
                      <option>Free</option>
                   </select></div>
              </td>
              <td><div class="col"> <select class="form-control" >
                  <option class="bs-title-option"  value="myVal">--Please Select--</option>
                  <option>Marathi</option>
                  <option>Hindi</option>
                  <option>Englsih</option>
                  <option>Math</option>
                  <option>Free</option>
               </select></div>
              </td>
              <td>
                  <div class="col"> <select class="form-control" >
                      <option class="bs-title-option"  value="myVal">--Please Select--</option>
                      <option>Marathi</option>
                      <option>Hindi</option>
                      <option>Englsih</option>
                      <option>Math</option>
                      <option>Free</option>
                   </select></div>
              </td>
            </tr>

          </tbody>
        </table>

  <br>


<div class="container">
  <div class="row" style="display: flex; justify-content: center">
      <div class="col-2">
  <button type="submit" class="btn btn-primary center">Submit</button>
  </div></div>
</div>


<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>