<div  fxFlex="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="header">
  <button mat-icon-button (click)="sidenav.toggle();">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="left">
                        
    
    <div class="logo">
       
            <!-- <img src="../assets/images/dash-logo.svg" alt="" title=""/> -->
            <h1>JayaPins Logo Image</h1>
       
    </div> 
    
</div>
<div class="option">
  <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
					
    <li class="nav-item"><a href="#" class="nav-link"> <img src="assets/img/settings.png"  class="img-fluid float-left" alt="Responsive image" width="20px" height="20px">Setting</a></li>
    <!-- Log out-->
    <li class="nav-item"><a href="login" class="nav-link "> <img src="assets/img/logout.png"  class="img-fluid float-left" alt="Responsive image" width="20px" height="20px">Logout</a></li>
    <li class="nav-item"><img src="assets/img/student.jpg" class="rounded-circle" width="50px" height="40px"> </li>
    </ul>

</div>

  <!-- <span>Inbox</span> -->
  <span class="spacer"></span>

</div>

