<section class="dashboard-counts section-padding">
  <div class="container-fluid">
    <div class="row">
      <!-- Count item widget-->
       <div class="col-xl-2 col-md-4 col-6">
        <span class="border">
         <div class="wrapper count-title text-center">              
          <a href="student">
                      <!-- <div class="icon"><i class="icon-user"></i></div> -->
          <div class="icon" >
          <img src="assets/img/student.jpg" alt="person" class="img-fluid " alt="Responsive image" width="70px" height="50px"></div>
           <div class="name"><strong class="text-uppercase">Student </strong> 
          
           </div>
           </a>
         </div>
        </span>
       </div>
      <!-- Count item widget-->
      <div class="col-xl-2 col-md-4 col-6 text-center">
        <span class="border">
        <div class="wrapper count-title">
          <a href="ATTENDANCE">
            <div class="icon" >
              <img src="assets/img/attendance.jpg" alt="person" class="img-fluid " alt="Responsive image" width="70px" height="50px">
            </div>
          <div class="name"><strong class="text-uppercase">Attendance</strong>
        
          </div>
          </a>
        </div>
      </span>
      </div>
      <!-- Count item widget-->
      <div class="col-xl-2 col-md-4 col-6 text-center">
        <span class="border">
        <div class="wrapper count-title">
          <a href="homeWork">
            <div class="icon" >
              <img src="assets/img/homework.jpg" alt="person" class="img-fluid " alt="Responsive image" width="70px" height="50px">
            </div>
          <div class="name"><strong class="text-uppercase">Home Work</strong>
     
          </div>
          </a>
        </div>
      </span>
      </div>
      <!-- Count item widget-->
      <div class="col-xl-2 col-md-4 col-6 text-center">
        <span class="border">
        <div class="wrapper count-title">
          <a href="timeTable">
            <div class="icon" >
              <img src="assets/img/timetable.jpg" alt="person" class="img-fluid " alt="Responsive image" width="70px" height="50px">
            </div>
          <div class="name"><strong class="text-uppercase">Timetable</strong>
        
          </div>
          </a>
        </div>
      </span>
      </div>
      <!-- Count item widget-->
      <div class="col-xl-2 col-md-4 col-6 text-center">
        <span class="border">
        <div class="wrapper count-title">
         <a href="calendar">
            <div class="icon" >
              <img src="assets/img/calendar.jpg" alt="person" class="img-fluid " alt="Responsive image" width="70px" height="50px">
            </div>
          <div class="name"><strong class="text-uppercase">Calendar</strong>
         
          </div>
          </a>
        </div>
      </span>
      </div>
      <!-- Count item widget-->
      <div class="col-xl-2 col-md-4 col-6 text-center">
        <span class="border">
          <div class="wrapper count-title">
          <a href="userDocs">
            <div class="icon" >
              <img src="assets/img/userdoc.jpg" alt="person" class="img-fluid " alt="Responsive image" width="70px" height="50px">
            </div>
          <div class="name"><strong class="text-uppercase">User Doc's</strong>
          
          </div>
          </a>
        </div>
      </span>
      </div>
    </div>
  </div>
</section>
 <!-- Counts Section -->
 <section class="dashboard-counts section-padding">
  <div class="container-fluid">
    <div class="row">
      <!-- Count item widget-->
       <div class="col-xl-2 col-md-4 col-6">
        <span class="border">
         <div class="wrapper count-title text-center">              
           <a href="examResult">
          <!-- <div class="icon"><i class="icon-user"></i></div> -->
          <div class="icon" >
          <img src="assets/img/exam_result.jpg" alt="person" class="img-fluid " alt="Responsive image" width="70px" height="50px"></div>
           <div class="name"><strong class="text-uppercase">Exam / Result </strong> 
         
           </div>
           </a>
         </div>
        </span>
       </div>
      <!-- Count item widget-->
      <div class="col-xl-2 col-md-4 col-6 text-center">
        <span class="border">
        <div class="wrapper count-title">
          <a href="fees">
            <div class="icon" >
              <img src="assets/img/fees.jpg" alt="person" class="img-fluid " alt="Responsive image" width="70px" height="50px">
            </div>
          <div class="name"><strong class="text-uppercase">Fees</strong>
        
          </div>
          </a>
        </div>
      </span>
      </div>
      <!-- Count item widget-->
      <div class="col-xl-2 col-md-4 col-6 text-center">
        <span class="border">
        <div class="wrapper count-title">
          <a href="library">
            <div class="icon" >
              <img src="assets/img/homework.jpg" alt="person" class="img-fluid " alt="Responsive image" width="70px" height="50px">
            </div>
          <div class="name"><strong class="text-uppercase">Library</strong>
        
          </div>
          </a>
        </div>
      </span>
      </div>
      <!-- Count item widget-->
      <div class="col-xl-2 col-md-4 col-6 text-center">
        <span class="border">
        <div class="wrapper count-title">
          <a href="trasport">
            <div class="icon" >
              <img src="assets/img/transport.jpg" alt="person" class="img-fluid " alt="Responsive image" width="70px" height="50px">
            </div>
          <div class="name"><strong class="text-uppercase">Transport</strong>
        
          </div>
          </a>
        </div>
      </span>
      </div>
      <!-- Count item widget-->
      <div class="col-xl-2 col-md-4 col-6 text-center">
        <span class="border">
        <div class="wrapper count-title">
          <a href="techers">
            <div class="icon" >
              <img src="assets/img/teachers.jpg" alt="person" class="img-fluid " alt="Responsive image" width="70px" height="50px">
            </div>
          <div class="name"><strong class="text-uppercase">Teachers</strong>
        
          </div>
          </a>
        </div>
      </span>
      </div>
      <!-- Count item widget-->
      <div class="col-xl-2 col-md-4 col-6 text-center">
        <span class="border">
          <div class="wrapper count-title">
          <a href="assignment">
            <div class="icon" >
              <img src="assets/img/assignment.jpg" alt="person" class="img-fluid " alt="Responsive image" width="70px" height="50px">
            </div>
          <div class="name"><strong class="text-uppercase">Assignment</strong>
        
          </div>
          </a>
        </div>
      </span>
      </div>
    </div>
  </div>
</section>

<!-- Counts Section -->
<section class="dashboard-counts section-padding">
  <div class="container-fluid">
    <div class="row">
      <!-- Count item widget-->
       <div class="col-xl-2 col-md-4 col-6">
        <span class="border">
         <div class="wrapper count-title text-center">              
           <a href="meeting">
          <!-- <div class="icon"><i class="icon-user"></i></div> -->
          <div class="icon" >
          <img src="assets/img/meetings.jpg" alt="person" class="img-fluid " alt="Responsive image" width="70px" height="50px"></div>
           <div class="name"><strong class="text-uppercase">Meetings </strong> 
         
           </div>
           </a>
         </div>
        </span>
       </div>
      <!-- Count item widget-->
      <div class="col-xl-2 col-md-4 col-6 text-center">
        <span class="border">
        <div class="wrapper count-title">
          <a href="syllabus">
            <div class="icon" >
              <img src="assets/img/attendance.jpg" alt="person" class="img-fluid " alt="Responsive image" width="70px" height="50px">
            </div>
          <div class="name"><strong class="text-uppercase">Syllabus</strong>
        
          </div>
          </a>
        </div>
      </span>
      </div>
      <!-- Count item widget-->
      <div class="col-xl-2 col-md-4 col-6 text-center">
        <span class="border">
        <div class="wrapper count-title">
          <a href="chat">
            <div class="icon" >
              <img src="assets/img/chat.jpg" alt="person" class="img-fluid " alt="Responsive image" width="70px" height="50px">
            </div>
          <div class="name"><strong class="text-uppercase">Chat</strong>
        
          </div>
          </a>
        </div>
      </span>
      </div>
      <!-- Count item widget-->
      <div class="col-xl-2 col-md-4 col-6 text-center">
        <span class="border">
        <div class="wrapper count-title">
          <a href="newsLatter">
            <div class="icon" >
              <img src="assets/img/newsletter.jpg" alt="person" class="img-fluid " alt="Responsive image" width="70px" height="50px">
            </div>
          <div class="name"><strong class="text-uppercase">Newsletters</strong>
        
          </div>
          </a>
        </div>
      </span>
      </div>
      <!-- Count item widget-->
      <div class="col-xl-2 col-md-4 col-6 text-center">
        <span class="border">
        <div class="wrapper count-title">
          <a href="holidayList">
            <div class="icon" >
              <img src="assets/img/Holiday_list.jpg" alt="person" class="img-fluid " alt="Responsive image" width="70px" height="50px">
            </div>
          <div class="name"><strong class="text-uppercase">Holiday List</strong>
        
          </div>
          </a>
        </div>
      </span>
      </div>
      <!-- Count item widget-->
      <div class="col-xl-2 col-md-4 col-6 text-center">
        <span class="border">
          <div class="wrapper count-title">
          <a href="annancement">
            <div class="icon" >
              <img src="assets/img/userdoc.jpg" alt="person" class="img-fluid " alt="Responsive image" width="70px" height="50px">
            </div>
          <div class="name"><strong class="text-uppercase">Annancement</strong>
        
          </div>
          </a>
        </div>
      </span>
      </div>
    </div>
  </div>
</section>


<!-- Counts Section -->
<section class="dashboard-counts section-padding">
  <div class="container-fluid">
    <div class="row">
      <!-- Count item widget-->
       <div class="col-xl-2 col-md-4 col-6">
        <span class="border">
         <div class="wrapper count-title text-center">              
           .
          <!-- <div class="icon"><i class="icon-user"></i></div> -->
          <div class="icon" >
          <img src="assets/img/calendar.jpg" alt="person" class="img-fluid " alt="Responsive image" width="70px" height="50px"></div>
           <div class="name"><strong class="text-uppercase">Calendar </strong> 
         .
           </div>
         </div>
        </span>
       </div>
      <!-- Count item widget-->
      <div class="col-xl-2 col-md-4 col-6 text-center">
        <span class="border">
        <div class="wrapper count-title">
          .
            <div class="icon" >
              <img src="assets/img/userdoc.jpg" alt="person" class="img-fluid " alt="Responsive image" width="70px" height="50px">
            </div>
          <div class="name"><strong class="text-uppercase">User Doc's</strong>
        .
          </div>
        </div>
      </span>
      </div>
      <!-- Count item widget-->
      <div class="col-xl-2 col-md-4 col-6 text-center">
        <span class="border">
        <div class="wrapper count-title">
          .
            <div class="icon" >
              <img src="assets/img/Holiday_list.jpg" alt="person" class="img-fluid " alt="Responsive image" width="70px" height="50px">
            </div>
          <div class="name"><strong class="text-uppercase">Holiday List</strong>
        . 
          </div>
        </div>
      </span>
      </div>
      <!-- Count item widget-->
      <div class="col-xl-2 col-md-4 col-6 text-center">
        <span class="border">
        <div class="wrapper count-title">
          .
            <div class="icon" >
              <img src="assets/img/teachers.jpg" alt="person" class="img-fluid " alt="Responsive image" width="70px" height="50px">
            </div>
          <div class="name"><strong class="text-uppercase">Annancement</strong>
        .
          </div>
        </div>
      </span>
      </div>
      <!-- Count item widget-->
      <div class="col-xl-2 col-md-4 col-6 text-center">
        <span class="border">
          <div class="wrapper count-title">
          .
            <div class="icon" >
              <img src="assets/img/teachers.jpg" alt="person" class="img-fluid " alt="Responsive image" width="70px" height="50px">
            </div>
          <div class="name"><strong class="text-uppercase">Teachers</strong>
        .
          </div>
        </div>
      </span>
      </div>

      <!-- Count item widget-->
                  <div class="col-xl-2 col-md-4 col-6 text-center">
                    <span class="border">
                    <div class="wrapper count-title">
                      .
                        <div class="icon" >
                          <img src="assets/img/assignment.jpg" alt="person" class="img-fluid " alt="Responsive image" width="70px" height="50px">
                        </div>
                      <div class="name"><strong class="text-uppercase">Assignment</strong>
                    .
                      </div>
                    </div>
                  </span>
                  </div>

    </div>
  </div>
</section>

